[submodule ".vim/bundle/vim-pathogen"]
	path = common/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = common/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/ale"]
	path = common/.vim/bundle/ale
	url = https://github.com/w0rp/ale.git
